# Ignore node_modules and build files
node_modules/
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/
*.iml

# Ignore logs and environment files
*.log
.env


