<!-- <app-customer-list #customer>
  <p #para>Hello Customer</p>
</app-customer-list>
<p [ngClass]="{showcolor:str==''}">{{customer.name}}</p>

<p [ngStyle]="{backgroundColor:str==''?'lightpink':'lightblue'}">{{customer.name}}</p> -->

<app-cards>
  <h4 class="model">SAMSUNG</h4>
  <button class="view">View</button>
</app-cards>

<app-cards>
  <h4 class="model">NOKIA</h4>
  <button class="view">View</button>
</app-cards>

<app-cards>
  <h4 class="model">POPO</h4>
  <button class="view">View</button>
</app-cards>